@import "nullstyle";

body {
   width: 325px;
   font-family: 'Roboto', sans-serif;
}

.wrapper {
   width: 100%;
   height: 60px;
   background-color: transparent;
   position: relative;
   background-color: transparent;
}

.header_fixed {
   position: fixed;
   top: 0;
   left: 0;
   background-color: #fff;
   animation-name: show_header;
   animation-duration: 1s;
}

@keyframes show_header {
   0% {
      opacity: 0;
      top: -70px;
   }

   100% {
      opacity: 1;
      top: 0;
   }
}

.row {
   display: flex;
   justify-content: space-between;
   height: 51px;
   background-color: #fff;

   .logo {
      max-width: 200px;
      max-height: 200px;

      img {
         width: 100%;
      }
   }
}

#check-menu {
   display: none;
}


label {
   display: block;
   position: absolute;
   top: 0;
   left: 0;
   cursor: pointer;
   z-index: 2;
   width: 55px;
   height: 50px;
}

.burger-line {
   position: absolute;
   top: 20px;
   left: 25px;
   width: 40px;
   height: 3px;
   background-color: #7F3847;
   transition: all 0.3s;
}

.second-line,
.third-line {
   top: 30px;

}

.fourth-line {
   top: 40px;
}

.burger-menu {
   display: block;
   position: absolute;
   width: 100%;
   bottom: 0;
   left: 0;
   transform: translateY(100%);
   max-height: 0;
   font-size: 0;
   overflow: hidden;
   transition: 0.5s all;

   .burger-line {
      transition: 0.5s all;
   }
}

.menu-link {
   display: block;
   width: 100%;
   padding: 10px;
   border-top: 1px solid grey;
   background: rgb(93, 93, 93);
   text-align: center;
}

#check-menu:checked~.burger-menu {
   max-height: 500px;
   font-size: 16px;
}

#check-menu:checked~.first-line {
   display: none;
}

#check-menu:checked~.second-line {
   transform: rotate(45deg);
}

#check-menu:checked~.third-line {
   transform: rotate(-45deg);
}

#check-menu:checked~.fourth-line {
   display: none;
}

.greeting {
   padding-bottom: 10px;
   background-color: #F4F3F1;

   .greeting-text {
      font-size: 20px;
      color: #686866;
      text-align: center;

      span {
         font-size: 30px;
         display: block;
      }
   }

   .greeting-tel {
      margin-top: 20px;
      font-size: 16px;
      text-align: center;
      color: #A3A3A1;
   }

   .greeting-img {
      display: flex;
      justify-content: center;
   }

   .greeting-links {
      margin-top: 20px;

      .greeting-menu {
         display: flex;
         justify-content: space-around;
      }

      .greeting-menu__link {
         &:nth-child(n+2) {
            border-left: 1px solid grey;
            padding-left: 8px;
         }

         a {
            color: #7F3847;
            font-weight: bold;
            transition: all 0.5s;
            position: relative;

            &:hover {
               color: #686866;
            }
         }
      }


   }
}

.main_description {
   margin-top: 40px;

   h1 {
      font-size: 26px;
      text-align: center;
      font-style: italic;
      color: #3F3F3F;
   }

   .main-description__text {
      margin-top: 20px;
      margin-left: 40px;
      margin-right: 10px;
      font-size: 14px;
      line-height: 18px;
      color: #686465;
      position: relative;

      &::before {
         content: '';
         position: absolute;
         left: -35px;
         top: 50%;
         transform: translateY(-50%);
         display: block;
         width: 25px;
         height: 25px;
         background-image: url('../img/icons/internet.svg');
      }
   }

   .description-buy {
      margin: 40px auto;
      display: block;
      width: 200px;
      height: 40px;
      border-radius: 5px;
      color: #000000;
      background-color: rgb(255, 145, 0);
   }
}

.services {
   margin-top: 40px;
   padding: 30px 10px;
   height: 500px;
   background-image: url('../img/main_img/roza.png');
   background-repeat: no-repeat;
   background-position: center center;
   background-attachment: fixed;

   h3 {
      font-size: 20px;
      text-align: center;
      color: #3F3F3F;
   }

   .services-text {
      margin-top: 20px;
      text-align: center;
      line-height: 22px;
      color: #3F3F3F;
   }
}

.tailoring {
   margin-top: 20px;
   padding-bottom: 20px;

   .inner {
      display: flex;
      flex-direction: column;
      align-items: center;

      .tailoring-item {
         margin-top: 60px;

         h5 {
            font-size: 16px;
            text-align: center;
            margin-top: 20px;
            color: #3F3F3F;
         }
      }
   }
}

.portfolio {
   margin-top: 40px;

   p {
      font-size: 18px;
      text-align: center;
      margin-top: 20px;
      color: #3F3F3F;
   }

   .portfolio-inner {
      margin-top: 15px;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: auto;
      gap: 5px;

      .portfolio-item {
         transform: all 0.5s;

         &:hover {
            transform: scale(1.1)
         }
      }
   }
}

.about_us {
   margin-top: 40px;
   padding: 30px 10px;

   h3 {
      font-size: 20px;
      text-align: center;
      color: #3F3F3F;
   }

   .about_us-text {
      margin-top: 40px;
      text-align: center;
      line-height: 22px;
      color: #3F3F3F;
   }
}

.contacts {
   margin-top: 40px;

   h4 {
      text-align: center;
      font-size: 22px;
      color: #3F3F3F;
   }

   .contacts-links {
      margin-top: 10px;
      padding-left: 30px;
      padding-top: 20px;

      .contacts-tel {
         color: #686465;
         margin-bottom: 10px;
      }

      .contacts-link {
         padding-bottom: 10px;

         a {
            color: #7F3847;
         }
      }
   }

   .contacts-map {
      max-width: 325px;
   }
}

.footer {
   width: 325px;
   height: 120px;
   background-color: #7F3847;
   position: absolute;

   p {
      color: #fff;
      text-align: center;
      padding-top: 20px;
   }
}